<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>

</style>
<link rel="stylesheet" href="css/index.css" />
    <title></title>
</head>
<div class="topnav">
  <ul class="nav navbar-nav navbar-right">
 				 <li><a class="page-scroll" href="/">Home</a></li>
					<li><a class="page-scroll" href="/artista">Artista</a></li>
					 <li><a class="page-scroll" href="/opera">Opera da inserire</a></li>
					 <li><a class="page-scroll" href="/opere">Opere inserite</a></li>
			 		<li><a class="page-scroll" href="/user">REGISTRATI</a></li>
					<li><a class="page-scroll" href="/admin">AMMINISTRATORE</a></li> 
				</ul>
</div>
	<div>
    	<p th:text="'First name: ' + ${user.firstName}" />
    </div>
	<div>
    	<p th:text="'Lastname: ' + ${user.lastName}" />
    </div>
	<div>
    	<p th:text="'Age: ' + ${user.age}" />	
    </div>
	<div>
    	<p th:text="'Username: ' + ${user.username}" />	
    </div>
    	<div>
    	<p th:text="'Password: ' + ${user.password}" />	
    </div>
</body>
</html>