<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<link rel="stylesheet" href="css/index.css" />
<title>Artists</title>
<style> /* html { 
  background: url('https://www.artsfon.com/pic/201602/1920x1200/artsfon.com-81003.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
</style>

</head>
<body text="white">
<div class="topnav">
  <a href="/">Home</a>
  <a href="/news">News</a>
  <a class="active" href="/contacts">Contact</a>
  <a href="/user/artisti">Artists</a>
  <a href="/user/opere">Works of art</a>
  <a href="/logout">Logout</a>
  <a href="/accedi_admin">Administrator</a>
</div>
<font size="9">
<div align="center">List of artists</div>
			
			<ul>
				<div th:each="artista : ${artisti}">
					
								<h2 class="text-left">
									<a th:text="${artista.nome} +' '+ ${artista.cognome}"
										th:href="@{/user/artista/resultsartista(id=${artista.id})}"></a>
									<div class="space"></div>
								</h2>
							
				</div>
			</ul>
	

	<div class="footer">
		<div class="overlayer">
			<div class="container">
				<div class="row">
					<div class="credits">&copy; Giacomo Bonnani --- Sorin Oancea</div>
				</div>
			</div>
		</div>
	</div>
</font>
</body>
</html>