<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<style> html { 
  background: url('https://www.artsfon.com/pic/201602/1920x1200/artsfon.com-81003.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

p {
    font-size: 100%;
}
</style>
</head>

<body text="white">

	<ul>
                    
                    <li>
                        <a class="page-scroll" href="/admin/artisti">List of artists</a>
                    </li>
         	 		<li><a class="page-scroll" href="/admin/opere">List of works of art</a></li>
                   
			 		<li><a class="page-scroll" href="/opere">Insert a work of art</a></li>
                    <li>
                        <a class="page-scroll" href="/logout">Logout</a>
                    </li>
	</ul>

<br></br><br></br>		
<blockquote class="blockquote blockquote">
<font size="12"><h1 align="center" class="text-left">
				<em>Artist</em></h1></font>
				  
</blockquote>

	
	<form class="form-horizontal" action="#" th:action="@{/admin/artistainfo}" th:object="${artista}"
		method="post">
		
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
					<p th:text="#{form.hasErrors}">Error Message</p>
				</div>

				<input type="hidden" th:field="*{id}" />
				
		<div align="center">
			<div class="form-group"
					th:class="${#fields.hasErrors('nome')} ? 'form-group has-error' : 'form-group'">
					<label class="col-sm-4 control-label">Firstname:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" th:field="*{nome}"
							th:errorclass="has-error" /> <span class="help-block">
							<ul>
								<li th:each="err : ${#fields.errors('nome')}" th:text="${err}" />
							</ul>
						</span>
					</div>
				</div>
			<div class="form-group"
					th:class="${#fields.hasErrors('cognome')} ? 'form-group has-error' : 'form-group'">
					<label class="col-sm-4 control-label">Lastname:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" th:field="*{cognome}"
							th:errorclass="has-error" /> <span class="help-block">
							<ul>
								<li th:each="err : ${#fields.errors('cognome')}" th:text="${err}" />
							</ul>
						</span>
					</div>
				</div>
			<div class="form-group"
					th:class="${#fields.hasErrors('nazionalita')} ? 'form-group has-error' : 'form-group'">
					<label class="col-sm-4 control-label">Nationality:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" th:field="*{nazionalita}"
							th:errorclass="has-error" /> <span class="help-block">
							<ul>
								<li th:each="err : ${#fields.errors('nazionalita')}" th:text="${err}" />
							</ul>
						</span>
					</div>
				</div>
			<div>
					<div class="form-group"
					th:class="${#fields.hasErrors('annoNascita')} ? 'form-group has-error' : 'form-group'">
					<label class="col-sm-4 control-label">Date of birth:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" th:field="*{annoNascita}"
							th:errorclass="has-error" /> <span class="help-block">
							<ul>
								<li th:each="err : ${#fields.errors('annoNascita')}" th:text="${err}" />
							</ul>
						</span>
					</div>
				</div>
			
  				
			<div class="form-group"
					th:class="${#fields.hasErrors('annoMorte')} ? 'form-group has-error' : 'form-group'">
					<label class="col-sm-4 control-label">Date of death:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" th:field="*{annoMorte}"
							th:errorclass="has-error" /> <span class="help-block">
							<ul>
								<li th:each="err : ${#fields.errors('annoMorte')}" th:text="${err}" />
							</ul>
						</span>
					</div>
				</div>			
		</div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="pager">
					<li class="previous">
				<button type="submit" class="btn btn-primary">Invia</button>
					</li>
				</ul>
					</div> 
				</div>
			</form>
			
			 <div class="footer">
		<div class="overlayer">
			<div class="container">
				<div class="row">
					<div align="center" class="credits">&copy; Giacomo Bonnani---Sorin Oancea</div>
				</div>
			</div>
		</div>
	</div>
 	      
	
	
	
	</body>
</html>