<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<link rel="stylesheet" href="css/index.css" />
<title>News</title>
</head>
<body text="black">
<div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="/news">News</a>
  <a href="/contacts">Contact</a>
  <a href="/user/artisti">Artists</a>
  <a href="/user/opere">Works of art</a>
  <a href="/accedi">Register here</a>
  <a href="/accedi">Login/Logout</a>
  <a href="/accedi_admin">Administrator</a>
</div>
					<div>
						<p th:text="'Nome: ' + ${artista.nome } + ${ artista.cognome}" />
					</div>
					
					<div>
						<p th:text="'Nazionalita: ' + ${artista.nazionalita}" />
					</div>
					<div>
						<p th:text="'DataNascita: ' + ${artista.annoNascita}" />
					</div>
					<div>
						<p th:text="'DataMorte: ' + ${artista.annoMorte}" />
</div>
        
</body>

</html>