<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Modifica opera</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-image: url('https://www.premioceleste.it/_files/opere/2013_53521_199648.jpg')">
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    
                    <li>
                        <a class="page-scroll" href="/artista">Artista</a>
                    </li>
                    <li>
                        <li><a class="page-scroll" href="/opera">Opera da inserire</a></li>
                    </li>
                   
			 		<li><a class="page-scroll" href="/opere">Opere inserite</a></li>
					
					<li><a class="page-scroll" href="/admin">AMMINISTRATORE</a></li> 
                    <li>
                        <a class="page-scroll" href="/opere">Opere</a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="/user">Registrati</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/login">Autenticazione</a>
                    </li>
             
                </ul>
                </div>
	<form action="#" th:action="@{/opera/modificaO(id=${opera.id})}" th:object="${opera}"
		method="post" >
		<div>
			<div>
				<span th:text="#{label.titolo}">Titolo: </span> <span><input
					type="text" th:field="*{titolo}" /></span> <span
					th:if="${#fields.hasErrors('titolo')}" th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.tecnica}">Tecnica: </span> <span><input
					type="text" th:field="*{tecnica}" /></span> <span
					th:if="${#fields.hasErrors('tecnica')}"
					th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.anno}">Anno: </span> <span><input
					type="text" th:field="*{anno}" /></span> <span
					th:if="${#fields.hasErrors('anno')}" th:text="#{label.number}">Error</span>
			</div>
			<div>
				<span th:text="#{label.artista}">Artista:</span> <select
					th:field="*{artista}">
					<option th:each="artista : ${artisti}" th:value="${artista.id}"
						th:text="${artista.nome} +' '+ ${artista.cognome}"></option>
				</select>
			</div>
			<div>
			<span th:text="#{label.url}">Url: </span> <span><input
				type="text" th:field="*{url}" /></span> <span
				th:if="${#fields.hasErrors('url')}" th:text="#{label.mandatory}">Error</span>
		</div>
			<div>
				<input type="submit" name="submit"/>
			</div>
		</div>
	</form>
</body>
</html>