<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<link rel="stylesheet" href="css/index.css" />
<title>Work of art form</title>
<style> /* html { 
  background: url('https://www.artsfon.com/pic/201602/1920x1200/artsfon.com-81003.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
</style>

</head>
<body>
<div class="topnav">
  <a href="/">Home</a>
  <a href="/news">News</a>
  <a class="active" href="/contacts">Contact</a>
  <a href="/user/artisti">Artists</a>
  <a href="/admin/opere">Works of art</a>
  <a href="/admin/artista">Insert an artist</a>
  <a href="/logout">Logout</a>
  <a href="/accedi_admin">Admin</a>
</div>

	
<div>
		<div class="container tim-container">
	<br></br><br></br>
	<blockquote class="blockquote blockquote">
	<h1 class="text-left">
	<em>Insert a Work of Art</em></h1>

</blockquote>			
		<div>
			<form class="form-horizontal" th:object="${opera}"
				th:action="@{/admin/opera}" method="post">
				
				<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
					<p th:text="#{form.hasErrors}">Error Message</p>
				</div>

				<input type="hidden" th:field="*{id}" />

				<div class="form-group"
					th:class="${#fields.hasErrors('titolo')} ? 'form-group has-error' : 'form-group'">
					<label class="col-sm-2 control-label">Titolo:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" th:field="*{titolo}"
							th:errorclass="has-error" /> <span class="help-block">
							<ul>
								<li th:each="err : ${#fields.errors('titolo')}" th:text="${err}" />
							</ul>
						</span>
					</div>
				</div>
				
				<div class="form-group"
					th:class="${#fields.hasErrors('anno')} ? 'form-group has-error' : 'form-group'">
					<label class="col-sm-2 control-label">Anno:</label>
					<div class="col-sm-5">
						<input type="text"  class="form-control" th:field="*{anno}"
							th:errorclass="has-error"  /> <span class="help-block">
							<ul>
								<li th:each="err : ${#fields.errors('anno')}" th:text="${err}" />
							</ul>
						</span>
					</div>
				</div>
				<!-- non committa? -->
				<span th:text="#{label.artista}">Artista:</span> <select
					th:field="*{artista}">
					<option th:each="artista : ${artisti}" th:value="${artista.id}"
						th:text="${artista.nome} +' '+ ${artista.cognome}"></option>
				</select>
				<div class="form-group"
					th:class="${#fields.hasErrors('tecnica')} ? 'form-group has-error' : 'form-group'">
					<label class="col-sm-2 control-label">Tecnica:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" th:field="*{tecnica}"
							th:errorclass="has-error" /> <span class="help-block">
							<ul>
								<li th:each="err : ${#fields.errors('tecnica')}"
									th:text="${err}" />
							</ul>
						</span>
					</div>
				</div>
				<div class="form-group"
					th:class="${#fields.hasErrors('dimensione')} ? 'form-group has-error' : 'form-group'">
					<label class="col-sm-2 control-label">Dimensione:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" th:field="*{dimensione}"
							th:errorclass="has-error" /> <span class="help-block">
							<ul>
								<li th:each="err : ${#fields.errors('dimensione')}"
									th:text="${err}" />
							</ul>
						</span>
						</div>
						</div>
						
						<div class="form-group">
						<label class="col-sm-2 control-label glyphicon glyphicon-camera"> Url: </label>
						<div class="col-sm-5">
							<input	type="text" class="form-control" th:field="*{url}" />			
							<span th:if="${#fields.hasErrors('url')}" th:text="#{label.mandatory}">Error</span>
							</div>
		 				</div>
		 				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="pager">
					<button type="submit" class="btn btn-primary">Invia</button>
					</ul>
				
				</div>
				
      		</form>
      	<form action="uploadSuccess.html" th:action="@{/fileUpload}" method="post" enctype="multipart/form-data">
       <input type="file" name="myFile" /> 
       
    </form>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="pager">
 							<li class="previous"><a href="/admin/opere">Works of art list</a></li>
							</ul>
			</div>
			
			
		</div>
        </div>
      </div>  
      <div class="footer">
		<div class="overlayer">
			<div class="container">
				<div class="row">
					<div class="credits">&copy; Giacomo Bonanni---Sorin Oancea</div>
				</div>
			</div>
		</div>
	</div>
        

</body>
</html>