<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link rel="stylesheet" href="css/accesso.css" />
    <title></title>
</head>
<body>
<div class="topnav">
  <a href="/">Home</a>
  <a href="/news">News</a>
  <a href="/contacts">Contact</a>
  <a class="active" href="/user/opere">List of works of art</a>
  <a sec:authorize="isAuthenticated()" href="/logout">Logout</a>								
                    
</div>
	
        <ul>
           
		<table class="table table-hover">
		<tr>
			<td>
		<li th:text="#{label.titolo} +' '+ ${opera.titolo}"></li>
			</td>
		</tr>
		<tr>
			<td>
		<li th:text="#{label.anno} +' '+ ${opera.anno}"></li>
			</td>
		</tr>
		<tr>
			<td>
		<li th:text="#{label.tecnica} +' '+ ${opera.tecnica}"></li>
			</td>
		</tr>
		<tr>
			<td>
		<li th:if="${opera.dimensione}" th:text="#{label.dimensione} +' '+ ${opera.dimensione}"></li>
			</td>
		</tr>
		</table>
		<div>
		 <!-- <li><a th:text="'Artista: ' "></a><a th:text="${opera.artista.nome} +  ${opera.artista.cognome}" 
						th:href="@{/artista/risultatiAr(id=${opera.artista.id})}"></a></li> -->
			</div>	
	<!-- 		<div class="row">
				<div>
    	<p th:text="'Descrizione: ' + ${opera.titolo}" />
    </div>	</div>
 -->			
<!-- 			    <a th:href="@{/admin/opera}"> 
			    <span>
			    <button type="submit" class="btn btn-primary">Torna indietro</button>
			    </span></a> -->
	</ul>

</body>
</html>
