<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
<link rel="stylesheet" href="css/admin.css" />
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/news">News</a>
  <a href="/contacts">Contact</a>
<!--   <a href="admin/artisti">Artists</a>
  <a href="admin/opere">Works of art</a>
  <a href="signUp">Sign-up</a>
  <a class="active" href="accedi_admin"><b>Administrator</b></a> -->
  <a sec:authorize="isAuthenticated()" href="/logout">Logout</a>								
                    
</div>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
	<form action="#" th:action="@{/admin/opera/modificaO(id=${opera.id})}" th:object="${opera}"
		method="post" >
		<div>
			<div>
				<span th:text="#{label.titolo}">Titolo: </span> <span><input
					type="text" th:field="*{titolo}" /></span> <span
					th:if="${#fields.hasErrors('titolo')}" th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.tecnica}">Tecnica: </span> <span><input
					type="text" th:field="*{tecnica}" /></span> <span
					th:if="${#fields.hasErrors('tecnica')}"
					th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.anno}">Anno: </span> <span><input
					type="text" th:field="*{anno}" /></span> <span
					th:if="${#fields.hasErrors('anno')}" th:text="#{label.number}">Error</span>
			</div>
			<div>
				<span th:text="#{label.dimensione}">Dimensioni: </span> <span><input
					type="text" th:field="*{dimensione}" /></span> <span
					th:if="${#fields.hasErrors('dimensione')}" th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.artista}">Artista:</span> <select
					th:field="*{artista}">
					<option th:each="artista : ${artisti}" th:value="${artista.id}"
						th:text="${artista.nome} +' '+ ${artista.cognome}"></option>
				</select>
			</div>
			<div>
			<span th:text="#{label.url}">Url: </span> <span><input
				type="text" th:field="*{url}" /></span> <span
				th:if="${#fields.hasErrors('url')}" th:text="#{label.mandatory}">Error</span>
		</div>
			<div>
				
			    <button type="submit" class="btn btn-primary">Invia</button>
			    
			</div>
		</div>
	</form>
</body>
</html>