
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />


</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				
				<a class="navbar-brand page-scroll" href="/">HOME</a>
			</div>

			 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    
                    <li>
                        <a class="page-scroll" href="/user/artisti">List of artists</a>
                    </li>
             
                    <li>
                        <a class="page-scroll" href="/logout">Logout</a>
                    </li>
             
                </ul>
                </div>
		</div>
		<!-- /.container-fluid -->
	</nav>
	<br></br><br></br><br></br><br></br>
	<div>
		<div class="container tim-container">
			
<blockquote class="blockquote blockquote">
<h1 class="text-left">
				<em>Opere</em></h1>
				  <footer class="blockquote-footer"><cite title="Source Title">Qui di seguito trovi le opere inserite</cite></footer>
</blockquote>
			<ul>
				<div th:each="opera : ${opere}">
					<div class="row">
						<div class="col-md-4 col-sm-4">

							<a th:href="@{/user/opera/infoOpera(id=${opera.id})}">
					
								<img th:src="${opera.url}"
								style="height: 236px; width: 304" class="img-circle" />
							</a>
						</div>
						<div >
							<div >
								<h2 class="text-left">
									<a th:text="${opera.titolo}"
										th:href="@{/opera/infoOpera(id=${opera.id})}"></a>
									<div class="space"></div>
								</h2>
								<th:foreach th:each="opera : ${opere}">
							<li><a th:href="@{/opera/cancella(id=${opera.id})}"><span><input
							type="submit" name="submit" value="cancella" /></span></a>
							<a th:href="@{/opera/modificaO(id=${opera.id})}"><span><input
						type="submit" name="submit" value="modifica" /></span></a></li>
		</th:foreach>
							</div>
						</div>
					</div>
				</div>
			</ul>
		</div>
		<div class="space"></div>
	</div>
<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>



	<div class="footer">
		<div class="overlayer">
			<div class="container">
				<div class="row">
					<div class="credits">&copy; Giacomo Bonnani---Sorin Oancea</div>
				</div>
			</div>
		</div>
	</div>
	
</body>

<script src="vendor/jquery/jquery.js" type="text/javascript"></script>
<script src="vendor/jquery/jquery.min.js" type="text/javascript"></script>

<script src="vendor/bootstrap/js/bootstrap.js" type="text/javascript"></script>
<script src="js/gsdk-checkbox.js"></script>
<script src="js/gsdk-radio.js"></script>
<script src="js/gsdk-bootstrapswitch.js"></script>
<script src="js/get-shit-done.js"></script>
<script src="js/custom.js"></script>

</html>