<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link rel="stylesheet" href="css/accesso.css" />
    <title></title>
</head>
<body>
<div class="topnav">
  <a href="/">Home</a>
  <a href="/news">News</a>
  <a href="/contacts">Contact</a>
  <a class="active" href="accedi">Login/SignUp</a>
 <!--  <a href="signUp">Sign-up</a> -->
  <a sec:authorize="isAuthenticated()" href="/logout">Logout</a>								
</div>

			<ul>
				<div th:each="opera : ${opere}">
					<div class="row">
						<div class="col-md-4 col-sm-4">

							<a th:href="@{/user/opera/infoOpera(id=${opera.id})}">
					
								<img th:src="${opera.url}"
								style="height: 236px; width: 304" class="img-circle" />
							</a>
						</div>
						<div >
							<div >
								<h2 class="text-left">
									<a th:text="${opera.titolo}"
										th:href="@{/user/opera/info(id=${opera.id})}"></a>
									<div class="space"></div>
								</h2>
								
							</div>
						</div>
					</div>
				</div>
			</ul>
		
<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>



	<div class="footer">
		<div class="overlayer">
			<div class="container">
				<div class="row">
					<div class="credits">&copy; Giacomo Bonnani---Sorin Oancea</div>
				</div>
			</div>
		</div>
	</div>
	
</body>

</html>