<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link rel="stylesheet" href="css/index.css" />
    <title></title>
</head>
<body>
<div class="topnav">
  <a href="/">Home</a>
  <a href="/news">News</a>
  <a href="/contacts">Contact</a>
  <a href="/admin/artisti">List of artists</a>
  <a class="active" href="/admin/opere">List of works of art</a>
  <a href="/admin/opera">Insert a work of art</a>
  <a href="/accedi_admin">Administrator</a>
  <a sec:authorize="isAuthenticated()" href="/logout">Logout</a>								
                    
</div>

	<ul>
		<th:foreach th:each="opera : ${opere}">
			<li><a th:text="${opera.titolo}"
				th:href="@{/user/opera/info(id=${opera.id})}"></a> <a
				th:href="@{/admin/opera/cancella(id=${opera.id})}"><span><input
						type="submit" name="submit" value="cancella" /></span></a>
				<a th:href="@{/admin/opera/modificaO(id=${opera.id})}"><span><input
						type="submit" name="submit" value="modifica" /></span></a></li>
		</th:foreach>
	</ul>
</body>
</html>
