<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link rel="stylesheet" href="css/index.css" />
    <title></title>
</head>
<body>
<div class="topnav">
  <a class="active" href="home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="user/opere">Opere</a>
  <a href="user/artisti">Artisti</a>
  <a href="accedi">Login/signUp</a>
  <a href="admin">Amministratore</a>
</div>

		<div class="container">
			<div class="row">
				<!--start: Logo -->

				<!--end: Logo -->
				<!--start: Navbar -->
				<div class="span9">
					<div class="navbar navbar-inverse">
						<div class="navbar-inner">
							<div class="container">
								<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
								</a>
								<div class="nav-collapse collapse">
									<ul class="nav">
										<!--  Area Utenti -->
										<li th:class="'dropdown '+ ${navAccesso}">
											<ul class="dropdown-menu">
												<li sec:authorize="!isAuthenticated()">
													<div class="actions" align="center">
														<form th:action="@{/accedi}" method="get">
															<input id="accedi" type="submit" value="Login/Registrazione" />
														</form>
													</div>
												</li>	
											</ul></li>

										<!--  Utente Autenticato -->
										<li sec:authorize="isAuthenticated()">
											<div class="contact-form">
												Benvenuto, <b sec:authentication="name">[generic user]</b>!
												<form action="/logout" method="post">
													<div class="actions">
														<input id="logout" type="submit" value="Logout" />
													</div>
												</form>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

</body>
</html>